{% extends "base.html" %}
{% block title %}{{ category }} Products{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/styles/categories.css">
{% endblock %}
{% block content %}
<style>
    .no-products {
        text-align: center;
        margin-top: 50px;
        height: 100vh;
    }
</style>
<section>
    <div class="featured-area pt-10 pb-70">
        <div class="container">
            <h1>Products in {{category}} category</h1>
            <br>
            {% if products|length != 0 %}
            <div class="tab featured-tab-area">
                <div class="tab_content current active pt-45">

                    <div class="tabs_item current">
                        <div class="row justify-content-center">
                            {% for product in products %}
                            <div class="col-lg-3 col-md-6 weights">
                                <div class="featured-item">
                                    <div class="featured-item-img">
                                        <a href="#">
                                            <img src="/static/images/{{product[3]}}" alt="{{product[1]}}">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <h3>{{product[1]}}</h3>
                                        <hr>
                                        <div class="content-in">
                                            <h4>$ {{product[2]}} </h4>
                                        </div>
                                        <hr>
                                        <div class="featured-content-list">
                                            <button type="button" data-name="{{product[1]}}" data-price="{{product[2]}}"
                                                class="default-btn border-radius-5"> Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="no-products">
                <h2>No products found</h2>
            </div>
            {% endif %}
        </div>
</section>

{% endblock %}